@mixin btn-sm-modify {
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

@mixin btn-lg-modify {
    font-size: 16px;
    color: #181A20;
    max-width: 384px;
    padding: 12px 24px;
}

@mixin btn-base {
    font-size: 14px;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

$color-main: #FCD94A;


.btn-main {
    @include btn-base();
    background-color: $color-main;
    color: #181A20;
    opacity: 0.9;
    border: solid 1px $color-main;

    &:hover {
        opacity: 0.9;
    }

    &-s {
        @extend .btn-main;
        @include btn-sm-modify();
    }

    &-lg {
        @extend .btn-main;
        @include btn-lg-modify();
        width: 100%;

        a {
            text-decoration: none;
            color: black;
            font-weight: 500;
        }
    }

    &-lg-sec {
        @extend .btn-main;
        @include btn-lg-modify();
        background-color: #EAECEF;
        border-color: #EAECEF;
        padding: 12px 55px;
        a {
            text-decoration: none;
            color: black;
            font-weight: 500;
        }
    }
}

.btn-sec {
    @include btn-base();
    color: #181A20;
    opacity: 0.9;
    background-color: transparent;
    border: none;

    &:hover {
        color: #E5CC86;
        opacity: 0.9;
    }

    &-s {
        @extend .btn-sec;
        @include btn-sm-modify();
    }
}

.btn-ui {
    font-size: 14px;
    color: #181A20;
    opacity: 0.9;
    background-color: transparent;
    border: none;
    padding: 0;

    &:hover {
        color: #E5CC86;
        opacity: 0.9;
    }
}


.icon-sm {
    i {
        font-size: 1.25rem;
        padding: 0.4rem 0.65rem;
        border-radius: 50%;
        box-shadow: 0 0 10px #00000055;
        color: $color-main;
    }
}

.nav-section-main {
    display: flex;
    height: 100%;
    justify-content: center;
}

.nav-section-btn {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 16px;
}

.nav-section {
    align-items: center;
    display: flex;
    margin: 0 8px;
    height: 100%;
    justify-content: center;
    font-size: 0.9rem;
    opacity: 0.9;

    a {
        font-size: 14px;
        white-space: nowrap;
    }

    &:hover {
        color: #E5CC86;
        opacity: 0.9;
    }
}

.nav-section-right {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    white-space: nowrap;
}

.nav-section-final {
    align-items: center;
    display: flex;
    padding: 0 8px;
    height: 100%;
    justify-content: center;
    font-size: 0.9rem;
    opacity: 0.9;

    a {
        font-size: 14px;
    }

    &:hover {
        color: #E5CC86;
        opacity: 0.9;
    }
}