@use "components";

@mixin section-display {
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 3rem;
}

html {
    min-width: 100vw;
}

body {
    margin: 0;
    padding: 0;
}

$color-bg-info: #2B3139;

.info {
    background-color: #2B3139;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 12px 16px 12px 16px;

    p {
        max-width: 1184px;
        font-size: 14px;
        margin: 0;
    }
}

header {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 64px;

    .logo {
        a {
            img {
                width: 120px;
            }
        }
    }

    .menu {
        display: flex;
        align-items: center;
        
        a {
            text-decoration: none;
            color: black;
            opacity: 0.9;
        }
    }
}

.divider-h {
    height: 13px;
    width: 1px;
    background-color: #2B3139;
    margin: 0 8px;
}

.section-display {
    width: 100%;
    margin: auto;
}

.section-main {
    margin: auto;
    width: 1200px;
    display: flex;
    padding: 80px 0;
}

.section-50 {
    width: 50%;
    h2 {
        font-size: 40px;
        margin-bottom: 60px;
    }
}

.section-50-internal {
    margin-top: 16px 0;
    width: 384px;
}

.separator {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    text-align: center;

    .bar-separator {
        width: 100%;
        height: 1px;
        margin: auto;
        background-color: #EAECEF;
    }

    a {
        text-decoration: none;
        color: #2B3139;
        white-space: nowrap;
        margin: 0 10px;
    }
}

.social-btns {
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.section-card {
    width: 25%;
    padding: 0 40px;

    h2 {
        font-size: 35px;
        font-weight: 700;
    }

    p {
        opacity: 0.9;
    }
}