section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

    .container-xxl {
        width: 100%;
        max-width: 1400px;

        h1 {
            font-size: 30px;
            margin-bottom: 20px;
            color: #181627;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
        }

        h3 {
            font-size: 22px;
            margin-top: 10px;
            margin-bottom: 15px;
            color: #181627;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
        }

        p {
            color: #555555;
            font-size: 14px;
            line-height: 25px;
            font-family: 'Montserrat', sans-serif;
        }

        ul {
            padding-left: 20px;
        }

        li {
            margin-bottom: 5px;
            color: #555555;
            font-size: 14px;
            line-height: 25px;
            font-family: 'Montserrat', sans-serif;
        }

        a {
            color: #181627;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: #0056b3;
            }
        }

        .container-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-weight: 500;
            }
        }
    }
}