.btn-main, .btn-main-lg-sec, .btn-main-lg, .btn-main-s {
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #FCD94A;
  color: #181A20;
  opacity: 0.9;
  border: solid 1px #FCD94A;
}
.btn-main:hover, .btn-main-lg-sec:hover, .btn-main-lg:hover, .btn-main-s:hover {
  opacity: 0.9;
}
.btn-main-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}
.btn-main-lg {
  font-size: 16px;
  color: #181A20;
  max-width: 384px;
  padding: 12px 24px;
  width: 100%;
}
.btn-main-lg a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.btn-main-lg-sec {
  font-size: 16px;
  color: #181A20;
  max-width: 384px;
  padding: 12px 24px;
  background-color: #EAECEF;
  border-color: #EAECEF;
  padding: 12px 55px;
}
.btn-main-lg-sec a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.btn-sec, .btn-sec-s {
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  color: #181A20;
  opacity: 0.9;
  background-color: transparent;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: #E5CC86;
  opacity: 0.9;
}
.btn-sec-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btn-ui {
  font-size: 14px;
  color: #181A20;
  opacity: 0.9;
  background-color: transparent;
  border: none;
  padding: 0;
}
.btn-ui:hover {
  color: #E5CC86;
  opacity: 0.9;
}

.icon-sm i {
  font-size: 1.25rem;
  padding: 0.4rem 0.65rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3333333333);
  color: #FCD94A;
}

.nav-section-main {
  display: flex;
  height: 100%;
  justify-content: center;
}

.nav-section-btn {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 16px;
}

.nav-section {
  align-items: center;
  display: flex;
  margin: 0 8px;
  height: 100%;
  justify-content: center;
  font-size: 0.9rem;
  opacity: 0.9;
}
.nav-section a {
  font-size: 14px;
  white-space: nowrap;
}
.nav-section:hover {
  color: #E5CC86;
  opacity: 0.9;
}

.nav-section-right {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  white-space: nowrap;
}

.nav-section-final {
  align-items: center;
  display: flex;
  padding: 0 8px;
  height: 100%;
  justify-content: center;
  font-size: 0.9rem;
  opacity: 0.9;
}
.nav-section-final a {
  font-size: 14px;
}
.nav-section-final:hover {
  color: #E5CC86;
  opacity: 0.9;
}

html {
  min-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
}

.info {
  background-color: #2B3139;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 12px 16px 12px 16px;
}
.info p {
  max-width: 1184px;
  font-size: 14px;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 64px;
}
header .logo a img {
  width: 120px;
}
header .menu {
  display: flex;
  align-items: center;
}
header .menu a {
  text-decoration: none;
  color: black;
  opacity: 0.9;
}

.divider-h {
  height: 13px;
  width: 1px;
  background-color: #2B3139;
  margin: 0 8px;
}

.section-display {
  width: 100%;
  margin: auto;
}

.section-main {
  margin: auto;
  width: 1200px;
  display: flex;
  padding: 80px 0;
}

.section-50 {
  width: 50%;
}
.section-50 h2 {
  font-size: 40px;
  margin-bottom: 60px;
}

.section-50-internal {
  margin-top: 16px 0;
  width: 384px;
}

.separator {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.separator .bar-separator {
  width: 100%;
  height: 1px;
  margin: auto;
  background-color: #EAECEF;
}
.separator a {
  text-decoration: none;
  color: #2B3139;
  white-space: nowrap;
  margin: 0 10px;
}

.social-btns {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.section-card {
  width: 25%;
  padding: 0 40px;
}
.section-card h2 {
  font-size: 35px;
  font-weight: 700;
}
.section-card p {
  opacity: 0.9;
}

/*# sourceMappingURL=styles.css.map */
